  .contact{
    background-color: rgb(6, 1, 51);
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(6, 1, 51);
    

    padding-left: 200px;
    padding-right: 200px;
  }
 